.DS_Store
node_modules
/build
/dist
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
llmctx-svelte-complete-medium.txt
static/countries-110m.json
static/timezones.json