/* the root timeline container element */
.vis-timeline {
	background-color: var(--background);
	border: none;
}

/* horizontal timeline line (item dots connect to this) */
.vis-panel.vis-center {
	border-color: color-mix(in srgb, var(--foreground) 25%, transparent);
}

/* vertical grid lines */
.vis-time-axis .vis-grid.vis-minor {
	border-color: color-mix(in srgb, var(--foreground) 25%, transparent);
}
.vis-time-axis .vis-grid.vis-major {
	border-color: color-mix(in srgb, var(--foreground) 75%, transparent);
}

/* item dot connecting to horizontal timeline line */
/* .vis-item.vis-dot {} */

/* line from dot to item */
/* .vis-item, .vis-item.vis-line {} */

/* timeline item */
.vis-item {
	background-color: var(--status-neutral);
	color: var(--status-neutral-foreground);
	border-color: var(--border);
	/* @apply bg-neutral text-neutral-content border-accent; */
}

/* selected timeline item */
.vis-item.vis-selected {
	background-color: var(--selection);
	color: var(--selection-foreground);
	border-color: var(--brand);
	/* @apply bg-accent text-accent-content border-accent; */
}

/* text of time axis, eg Mon 10 */
.vis-time-axis .vis-text {
	padding-top: 4px;
	padding-left: 4px;
}

/* text of major time axis, eg February 2025 */
.vis-time-axis .vis-text.vis-major {
	font-weight: bold;
}

/* current time vertical line */
.vis-current-time {
	background-color: var(--secondary);
}

.vis-foreground .vis-group {
	border-bottom: none;
}
