{
    debug
	log {
        level DEBUG
        output stdout
        format console
    }
	auto_https off
}

app.dev.rezible.com:80 {
	handle /* {
		reverse_proxy http://host.docker.internal:7001 {
			header_up Host {host}
		}
	}
    handle /api/* {
        reverse_proxy http://host.docker.internal:7002 {
            header_up Host {host}
        }
    }
    handle /ws/* {
        reverse_proxy http://host.docker.internal:7003 {
            header_up Host {host}
        }
    }
}
