{
	auto_https off
}

app.dev.rezible.com:80 {
    log {
		output stdout
		level DEBUG
        format console
	}
    handle /api/* {
        reverse_proxy http://host.docker.internal:8888 {
            header_up Host api.dev.rezible.com
        }
    }
	handle /* {
		reverse_proxy http://host.docker.internal:5173 {
			header_up Host {host}
		}
	}
}

oidc.dev.rezible.com:80 {
    reverse_proxy http://dev-oidc:8080 {
        header_up X-Forwarded-Proto https
    }
}